/*Здесь будут стили*/
#mainCanvas  {
    width: 400px;
    height: 400px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}